.blog-grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        margin-right: 20px;
        grid-gap: 20px;
    }
}

@media (min-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 3%;
    }
}
